.hrWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: grey;
  &.selected {
    color: rgba(59, 130, 246, 1);
  }
  span {
    font-size: 12px;
    color: inherit;
    margin: -2px 0 0 18px;
    width: min-content;
    display: block ruby;
  }
}

.hr {
  cursor: pointer;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-top: 1.5rem;
  width: 100%;
  margin-bottom: 1.5rem;
  background-clip: content-box;
  border-style: none;
  background-color: rgba(229, 231, 235, 1);
  height: 10px;
  border-radius: 1px;
  opacity: 1;
  &.selected {
    background-color: rgba(59, 130, 246, 1);
  }
}
